/*
 * global
 */
html {
	position: relative;
	min-height: 100%;
}


/*
 *  header
 */
.header {
	position: absolute;
	top: 0;
	width: 100%;
}
.navbar-header {
	border-radius: 5px 5px 5px 5px;
	background: white;
	padding-left: 20px;
}
.navbar-brand > img {
	margin-top: -20px;
}


/*
 * contents
 */
/* affix sidebar styles */
#menu {
	position: fixed;
	width: 180px;
    top: 82px;
    bottom: 0;
    left: 0;
	background: #e0d9d9;
}
/* map styles */
.map {
	position: fixed;
    top: 82px;
    bottom: 30px;
    left: 180px;
}
#map {
	width: 100%;
	height: 100%;
}
/* marker search styles */
.marker-search {
	position: fixed;
	width: 180px;
    top: 82px;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/*
 * footer
 */
/* Sticky footer styles */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #5de367;
}

/*
 * modal
 */
.modal-center {
	margin-top: 30%;
}
.modal-header {
	margin-bottom: -30px;
}
.modal-header > hr {
	margin-top: 0;
}
.modal-body .checkbox-inline {
	margin-left: -15px;
}
.modal-footer {
	margin-top: -30px;
}