<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8"/>
    <title>Reflec Map</title>
    
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="/css/star-rating/star-rating.min.css" />
    <link rel="stylesheet" href="/css/star-rating/theme-krajee-uni.min.css" />
    <link rel="stylesheet" href="/css/navbar-color.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<div class="bs-component">
    	<nav class="navbar navbar-default">
    		<div class="container">
    			<div class="navbar-header">
	    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					   	<span class="sr-only">Toggle navigation</span>
					   	<span class="icon-bar"></span>
					   	<span class="icon-bar"></span>					
					   	<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand text-center" href="/mypage">
						LOGO
						<!-- TODO: LOGO img  -->
						<!-- <img alt="Brand" src="xxx.png" /> -->
					</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<!-- Map Info  -->
              		<ul class="nav navbar-nav">
                  		<li class="dropdown">
                    		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Map Name <span class="caret"></span></a>
                    		<ul class="dropdown-menu" role="menu">
            					<li class="text-center"><span class="glyphicon glyphicon-star"></span>　:　<span class="badge">36</span></li>
								<li class="text-center"><span class="glyphicon glyphicon-fire"></span>　:　<span class="badge">99</span></li>
       						</ul>
     					</li>
   					</ul>
   
				   <!-- User Info -->
					<ul class="nav navbar-nav navbar-right">
						<li class="navbar-brand">
							<img alt="UserIcon" src="/img/male.png" />
						</li>
				   		<li class="dropdown">
	           				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User Name <span class="caret"></span></a>
	                   		<ul class="dropdown-menu" role="menu">
								<li>Follow　　:　<span class="badge">1233</span></li>
								<li>Follower　:　<span class="badge">1</span></li>
	   						</ul>
	     				</li>
					</ul>
				</div>
				
				<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Map Name <span class="caret"></span>
			                <ul class="dropdown-menu" role="menu">
				                <li><span class="glyphicon glyphicon-star"></span></li>
								<li><span class="glyphicon glyphicon-fire"></span></li>
			                </ul>
			    			</div>
		    			</li>
	    			</ul>
    			</div> -->
    		</div>
		</nav>
	</div>
<!-- 
	<div class="container">
	    <div class="row">
			Side Bar 
			<div class="col-sm-3 col-xs-2 sidebar">
				<div class="project_img"><a href="">Reflec Map Icon</a></div>
				<ul class="nav nav-sidebar menu-list">
					<li class="active"><a href="#">Menu 1<span class="sr-only">(current)</span></a></li>
					<li><a href="#">Menu 2</a></li>
					<li><a href="#">Menu 3</a></li>
					<li><a href="#">Menu 4</a></li>
					<li><a href="#">Config</a></li>
				</ul>
			</div>
			<div class="col-xs-10 main">
				<div class="row status">
					Map Info
					<div class="col-xs-5 map-info">
						<span>Map Name</span><br/><br/>
						<span>☆：99 ♡：55</span>
					</div>
					User Info
					<div class="col-xs-4 user-info">
						<span>User Name</span><br/><br/>
						<span>Follower: 32</span>
					</div>
					User Icon
					<div class="col-xs-3 user-icon">
						User Icon
					</div>
				</div>
				<div class="row">
					Map 
					<div class="col-xs-9 map">
						<div id="mymap"></div>
					</div>
					<div class="col-xs-3 marker-sidebar">
						Search
						<div class="search">
							<input type="text" name="marker-search" class="input-sm" placeholder="search to marker..." />
						</div>
						Sort
						<div class="btn-group sort">
							<button type="button" class="btn btn-default">Sort</button>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
							<li><a href="#">Item 1</a></li>
							<li><a href="#">Item 2</a></li>
							<li><a href="#">Item 3</a></li>
							<li><a href="#">Item 4</a></li>
							</ul>
						</div>
						Marker List
						<ul class="nav nav-sidebar marker-list">
							<li class="active"><a href="#">Marker 1<span class="sr-only">(current)</span></a></li>
							<li><a href="#">Marker 2</a></li>
							<li><a href="#">Marker 3</a></li>
							<li><a href="#">Marker 4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	
    <!-- scripts -->
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="/js/jquery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/gmaps/gmaps.min.js"></script>
	<script type="text/javascript" src="/js/star-rating/star-rating.min.js"></script>
	<script type="text/javascript" src="/js/custom-dialog.js"></script>
	<script type="text/javascript" src="/js/map.js"></script>
</body>
</html>