<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Reflec Map</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/semantic.min.css" />
</head>
<body>

<reflec-app></reflec-app>

<!-- scripts -->
<script src="/modules/jquery-1.12.4.min.js"></script>
<script src="//maps.google.com/maps/api/js"></script>
<script src="/modules/gmaps.min.js"></script>
<script src="/modules/semantic.min.js"></script>
<!-- /scripts -->

<!-- riot -->
<script src="/tags/reflec-app.tag" type="riot/tag"></script>
<script src="/tags/reflec-header.tag" type="riot/tag"></script>
<script src="/tags/mark-modal.tag" type="riot/tag"></script>
<script src="/tags/markers-modal.tag" type="riot/tag"></script>
<script src="/tags/menu-sidebar.tag" type="riot/tag"></script>
<script src="/tags/info-sidebar.tag" type="riot/tag"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/riot/2.4.1/riot+compiler.min.js"></script>
<script>riot.mount('*')</script>
<!-- /riot -->

</body>
</html>

